#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:200px;
    background:#000;
    text-align:left;
}
}

#header { 
    border:1px solid #000; width:100px; height:20px; 
    margin:0 0 5px 0;
}
#content { 

    width: 780px;
    background: url("http://payload90.cargocollective.com/1/8/284897/4111579/Kendrick%20Lamar%20Concert%20-%20June%2016-%202011_15.jpg");
    margin: 0 auto;
}
}
#footer { 
    border:1px solid #000; width:100px; height:20px;
    margin:5px 0 0 0;
}
